/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#000;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
}
.menu{
	background:#e8e8e8;
    height:70px;
    border-bottom: 6px #F9F9F9 solid;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
    margin-bottom:20px;
	padding:8px 0 8px 8px;
	font-size:25px;
	font-weight:normal;
	color:#232323;
    background:#e8e8e8;
}
h3 {
    margin-bottom:20px;
    padding-bottom:15px;
	font-size:20px;
	font-weight:normal;
    color:#000;
    border-bottom:1px solid #d3d3d3;
}
p {
	margin:8px 0;
	padding:0 20px 5px 10px;
    font-size: 13px;
    text-align: justify;
    font:14px/1.5em "Liberation sans",Arial,Helvetica,sans-serif;        
}
a {
	color:#3447ff;
	text-decoration:underline;
    border-radius: 18px 18px 18px 18px;    
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.logo {
    display: block;
    height: 120px;
    margin: 0 auto;
    padding-top: 20px;
    text-decoration: none;
    width: 700px;
}
h1 {
	margin:20px;
	text-align:center;
}
h1 a, h1 a:hover {
	text-decoration:none;
    border:0px;
}
.slider {
	padding:0;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:0;
	height:59px;
}
.menu_nav ul {
	list-style:none;
	padding:23px 0 0;
	height:36px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 10px;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:10px 20px;
	font-size:12px;
	line-height:16px;
	font-weight:normal;
	color:#000;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
	background:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:#000099;
}
.content {
	padding:18px 0 24px;
}
.content_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0 20px 0 0;
	float:left;
	width:660px;
    border-right:1px solid #d3d3d3;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding:10px 20px;
	font-size:27px;
	line-height:1.2em;
	color:#3f3f3f;
}
.content .mainbar div.img {
	padding:40px 0 0;
	float:left;
}
.img-equipo {
    float: left;
    padding: 2px 20px 5px 30px;
}
.content .mainbar img.fl {
	margin:-5px 0 0 20px;
}
.content .mainbar .article {
	padding:0 0 40px;
	border-bottom:1px solid #d3d3d3;
}
.content .mainbar .post_content {
	float:right;
    padding:25px 0 0;
	width:340px;
}
.content .mainbar .post_content strong {
	color:#3f3f3f;
}
.content .sidebar {
	padding:0;
	float:right;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:12px 10px 24px 0;
    
}
.content .sidebar h2 {
	color:#3f3f3f;
    padding: 10px 20px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.sb_menu a {
	text-decoration:none;
    font-size: 13px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu a li{
	color:#000;
	text-decoration:none;
	margin-left:-16px;
	padding:6px 8px 5px 16px;
    margin:0 10px 0 8px;
    border-bottom:1px solid #d3d3d3;
    width: 205px;    
}
ul.ex_menu li a {
	font-weight:bold;
	color:#161616;
	text-decoration:none;
}
ul.sb_menu a:hover li , ul.ex_menu li a:hover {
	color:white;
    background-color: #000099;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
    margin-right:20px;
	padding:0 0 16px;
    float:right;
}
p.infopost {
	margin-bottom:8px;
	padding:6px 0;
	color:#aeaeae;
}
p.infopost a {
	padding:0 2px;
	color:#aeaeae;
	text-decoration:underline;
}
.content .mainbar .article a.com {
	display:block;
	float:right;
	margin:16px 0 0;
	padding:12px 0 0 0;
	width:56px;
	height:44px;
	font-size:36px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#3447ff;
	background:url(../images/comment.gif) repeat left top;
}
.content .mainbar .article a.com:hover {
	text-decoration:underline;
}
.content .mainbar .article a.com span {
	font-weight:normal;
}
.content .mainbar .post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:6px 20px;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	background:#000099;
}
.content p.pages {
	margin:0;
	padding:24px 0;
	font-size:11px;
	color:#929292;
	text-align:left;
	background:repeat-x left top;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#3447ff;
	border:1px solid #3447ff;
}
.content p.pages a {
	color:#929292;
	border:1px solid transparent;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:0;
    background:#f3f5f4;
    border-top: 6px #F9F9F9 solid;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#6e6e6e;
}
.fbg h2 {
	color:#3f3f3f;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	background-color:#fff;
	border:1px solid #dfdfdf;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin-left:0px;
    margin-right: 0px;
}
.fbg .fbg_ul li {
    margin-left:10px;
    margin-right: 10px;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#3447ff;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#232323;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:0;
	float:right;
}
#formsearch {
	margin:0;
	padding:24px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:170px;
	font-size:12px;
	line-height:14px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:#B0E0E6;
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#000;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
    color:#6e6e6e;
}
.footer_resize a {
	color:#000099;
	font-weight: bold;
	margin:0;
	padding:0;
	border:none;
    text-decoration:none;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#000099;
    font-weight: bold;
	background-color:transparent;
	text-decoration:underline;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
