/* Accordion Menu powered by www.menucool.com */

/* ##### Top level items #####*/
#acdnmenuDemo 
{
    /* Note about height: Change it to "height:auto;" if flexible height is prefered. 
    It is recommended to specify a fixed height as it is more user-friendly. 
    If the height specified is insufficient than needed, it will be automatically converted to "height:auto". */
    height: 320px;
    width: 660px;
    font-size:0;
}

#acdnmenuDemo ul.top
{
	padding-left:0;
    background:#FAFAFA;
    border:1px solid #BDBDBD;
}

#acdnmenuDemo div.heading, #acdnmenuDemo a.link
{
    padding:8px; padding-left:24px;
    text-align:left;
    font:normal 18px "Liberation sans",Arial,Helvetica,sans-serif;
    color:#3F3F3F; 
    background:#E8E8E8 repeat-x 0 0;
    text-decoration:none;
    outline:none;
}

#acdnmenuDemo div.current, #acdnmenuDemo div:hover, #acdnmenuDemo a.link:hover, #acdnmenuDemo div.current a.link
{
    color:black;
    font-weight:bold;
    text-decoration:none;   
}

/*Top level link without children*/
#acdnmenuDemo a.current, #acdnmenuDemo a.current:hover
{
    color:#CBA;
    text-decoration:underline;   
}
/* arrow image for the top headings */
#acdnmenuDemo div.arrowImage {
    width:12px;
    height:12px;
    top:9px;
    right:4px; /* Changing it to "left:8px;" will position the arrow image to the left */
    background-image:url(arrows.gif);
    background-position:0 0;
}

#acdnmenuDemo div.current div.arrowImage {
    background-position:0 -12px;
}

#acdnmenuDemo li.separator
{
    border-top:1px solid #BDBDBD;
    border-bottom:none; 
}


/* ##### Sub level items #####*/
#acdnmenuDemo ul.sub
{
	padding:0px 10px 0px 20px; /*This determines the hierarchical offset*/ 
}

#acdnmenuDemo ul.sub div.heading
{
    text-align:left;
    font:normal 14px Arial;
    padding:5px; padding-left:20px;
    background:none; 
}
#acdnmenuDemo ul.sub div.heading a
{
    color:#CBA;
}

#acdnmenuDemo ul.sub div.current
{
    color:#F90;
    background:none; 
}

#acdnmenuDemo ul.sub a.link
{
    font:normal 14px Arial;
    color:#CBA;
    padding:5px; padding-left:20px;
    text-decoration:none;
    background:none; 
}

#acdnmenuDemo ul.sub a.link:hover, #acdnmenuDemo ul.sub a.current, #acdnmenuDemo ul.sub div.heading a:hover, #acdnmenuDemo ul.sub div.heading a.current
{
    color:#F90;
    text-decoration:underline;
    background:none; 
}


#acdnmenuDemo ul.sub div.arrowImage {
    width:12px;
    height:12px;
    top:6px;
    left:4px;
    background-image:url(arrows.gif);
    background-position:0 -24px;
}
#acdnmenuDemo ul.sub div.current div.arrowImage {
    background-position:0 -36px;
}



/* ##### Followings usually don't need modification ###### */
/*Hack the font-size:0 bug for IE6 */
#acdnmenuDemo,  #acdnmenuDemo ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenuDemo li {font-size:14px; line-height:22px;}
#acdnmenuDemo:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 

/*Hack for IE6-7*/
#acdnmenuDemo ul, #acdnmenuDemo li, #acdnmenuDemo div.heading, #acdnmenuDemo a.smLink, #acdnmenuDemo div.description {*zoom:1;}
#acdnmenuDemo li {*float:left;*width:100%;}

#acdnmenuDemo ul
{
	position:relative;/*!*/
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;	
}
#acdnmenuDemo>ul{visibility: hidden;}
#acdnmenuDemo li {padding:0;margin:0;}

#acdnmenuDemo div.heading, #acdnmenuDemo div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenuDemo div.arrowImage {position:absolute; overflow:hidden;}
/*#acdnmenuDemo a.link {display: block;} MOVED TO JS*/

